@media print {
  body {
    background-color: #ffffff;
  }

  header {
    background-color: #ffffff;
    color: #000000;
  }

  .searchBoxWrapper {
    display: none;
  }

  .box {
    box-shadow: none;
    width: 100%;
  }

  .apiRoute {
    margin-bottom: 40px;
    border: 2px solid #000000;

    .method {
      background-color: #ffffff;
      color: #000000;
      font-weight: bold;
    }

    .column:nth-child(1) {
      width: 16%;
    }

    .column:nth-child(2) {
      width: 82%;
      border-left: 1px solid #000000;
    }
  }
}
