// box sizing
*, *:before, *:after {
  box-sizing: border-box;
}

// main
body {
	@include normalizeBoxSize();
	font-family: $font-family;
  background-color: $color-white-secondary;
  overflow-x: hidden;
  font-weight: $font-weight-regular;
}
