// Colors
$color-primary: #3F51B5;
$color-white-primary: #FFFFFF;
$color-white-secondary: #E2E2E2;
$color-black-primary: #000000;
$color-black-secondary: #727272;

// Fonts
$font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-small: 8px;
$font-size-normal: 15px;
$font-size-large: 20px;
$font-size-extra-large: 35px;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

// Border radius
$border-radius-main: 5px;
