<!DOCTYPE html>
<html lang="en" ng-app="apiweasel">
<head>

  <!-- Charset -->
  <meta charset="UTF-8">

  <!-- Title -->
  <title>APIWeasel</title>

  <!-- Basic Meta -->
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="theme-color" content="#3F51B5">
  <meta name="application-name" content="APIWeasel">
  <meta name="description" content="Simple API-Documentation system.">
  <meta name="author" content="Mischa Helfenstein">

  <!-- Facebook Meta -->
  <meta property="og:title" content="APIWeasel" />
  <meta property="og:description" content="Simple API-Documentation system." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://github.com/themihel/APIWeasel" />
  <meta property="og:image" content="http://img.themihel.me/APIWeasel/APIWeasel_Header_Image.jpg" />

  <!-- Twitter Meta -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@themihel">
  <meta name="twitter:title" content="APIWeasel">
  <meta name="twitter:description" content="Simple API-Documentation system.">
  <meta name="twitter:image" content="http://img.themihel.me/APIWeasel/APIWeasel_Header_Image.jpg">
  <meta name="twitter:twitter:creator" content="@themihel">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="APIWeasel">
  <link rel="icon" sizes="192x192" href="images/launcher-icons/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="APIWeasel">
  <link rel="apple-touch-icon" href="images/launcher-icons/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="images/launcher-icons/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#3F51B5">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Styles -->
  <link rel="stylesheet" href="styles/app.css">

</head>
<body ng-controller="apiWeaselCtrl">
  <!-- header -->
  <header>
    <div>{{apiData.name}} - APIWeasel</div>
    <div class="path">{{apiData.path}}</div>
  </header>

  <!-- Searchbox -->
  <div class="searchBoxWrapper">
    <div class="searchBox">
      <img src="images/icons/ic_search_black_24px.svg" alt="Search - Icon">
      <input type="search" ng-model="searchItem" placeholder="Filter ..." aria-label="Search input" autofocus>
    </div>
  </div>

  <!-- Error fetching data -->
  <div class="box boxError" ng-if="apiError">
    Error fetching data
  </div>

  <!-- Api routes -->
  <div class="apiRoute box" ng-repeat="api in apiData.routes | filter:searchItem">
    <!-- Method / Path -->
    <div class="line lineHead">
      <div class="column method">{{api.method}}</div>
      <div class="column path">{{api.path}}</div>
    </div>
    <!-- Description -->
    <div class="line" ng-if="api.description">
      <div class="column lineDesc">Description</div>
      <div class="column desc">{{api.description}}</div>
    </div>
    <!-- Header-data -->
    <div class="line" ng-if="api.header">
      <div class="column lineDesc">Header</div>
      <div class="column header columnData">
        <span class="name" ng-if="api.header.name">{{api.header.name}}</span>
        <span class="type" ng-if="api.header.type">{{api.header.type}}</span>
        <span class="desc" ng-if="api.header.description">{{api.header.description}}</span>
      </div>
    </div>
    <!-- Params -->
    <div class="line" ng-if="api.params">
      <div class="column lineDesc">Params</div>
      <div class="column params columnData">
        <div class="param" ng-repeat="param in api.params">
          <span class="name" ng-if="param.name">{{param.name}}</span>
          <span class="type" ng-if="param.type">{{param.type}}</span>
          <span class="desc" ng-if="param.description">{{param.description}}</span>
          <span class="required" ng-if="param.required">required</span>
        </div>
      </div>
    </div>
    <!-- Response -->
    <div class="line" ng-if="api.response">
      <div class="column lineDesc">Response</div>
      <div class="column response columnData">
        <span class="name" ng-if="api.response.name">{{api.response.name}}</span>
        <span class="type" ng-if="api.response.type">{{api.response.type}}</span>
        <span class="desc" ng-if="api.response.description">{{api.response.description}}</span>
      </div>
    </div>
  </div>

  <!-- View source -->
  <a href="https://github.com/themihel/APIWeasel" class="viewSource" target="_blank">View source</a>

  <!-- Scripts -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="scripts/app.js"></script>

  <!-- ServiceWorker -->
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js')
      .then(function() {
        console.log('ServiceWorker registered!');
      })
      .catch(function() {
        console.log('ServiceWorker not registered!');
      });
    }
  </script>

</body>
</html>
